.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  background-color: #efefefb4;
  text-align: center;
}
.footer-menu li {
  padding-top: -1px;
  display: inline-block;
  margin-left: 20px;
  }
  .copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
    }