<body>
    <!-- Header Starts -->
    <div class="header">
      <div class="header__left">
        <span [ngClass]="{selectedLogo: isSideNavCollapsed == true}" class="material-icons hamIcon1"  (click)="toggle()"> menu </span>
        <img
          src="/assets/logojpg.jpg"
        />
        &nbsp;
        <p>DMIS</p>
      </div>

      <div class="header__middle">
        <span class="material-icons hamIcon1"> search </span>
        <input type="text" placeholder="Search mail" />
        <span class="material-icons hamIcon1"> arrow_drop_down </span>
      </div>

      <div class="header__right">
        <span class="material-icons hamIcon1" [matMenuTriggerFor]="apps"> apps </span>
        <span class="material-icons hamIcon1"> notifications </span>
        <span class="material-icons hamIcon1" [matMenuTriggerFor]="account"> account_circle </span>
      </div>


    </div>
    <mat-menu #apps="matMenu">
        <div  class="container-fluid text-center">
          <div class="row" style="z-index: 4;" >
            <div class="col-4" *ngFor="let apps of app">
              <img class="avatar avatar-64 bg-light rounded-circle text-white p-2 "
                   src="{{apps.img}}">
                  <label>{{apps.name}}</label>
            </div>
            </div>
        </div>
    </mat-menu>
    <mat-menu #account="matMenu">
      <mat-card class="example-card mat-elevation-z0">
        <div class="container-fluid text-center">
          <div class="row">
            <div class="col">
            </div>
            <div class="col">
              <img class="avatar avatar-96 bg-light rounded-circle text-white p-2"
          src="https://library.kissclipart.com/20180828/vew/kissclipart-computer-engineer-cartoon-png-clipart-programmer-c-5c3cad628ac2db6f.png">
        </div>
        <div class="col">
        </div>
      </div>
    </div>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <div class="row">
      <div class="col"> <mat-card-title>Amit Sharma</mat-card-title></div>
      <div class="col"> <mat-card-subtitle>athang@gmail.com</mat-card-subtitle></div>
      <div class="col">
        <button mat-stroked-button style="border-radius: 20px;" color="primary">Manage Account</button>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content class="cart-content">
    <div class="d-grid gap-2">
      <button class="btn" type="button">
        <mat-icon style="padding-top: 2%; margin-right:5px">person_add</mat-icon>
        Add account
      </button>
      <mat-divider></mat-divider>
      <button mat-stroked-button>Sign Out</button>
      <mat-divider></mat-divider>
    </div>
    <div class="row ">
      <div class="col">
        <button mat-button>Privacy</button>
      </div>
      <div class="col">
        <button mat-button>Terms of Service</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
</mat-menu>
    <!-- Header Ends -->

    <!-- Main Body Starts -->
    <div class="main__body">
      <!-- Sidebar Starts -->
    <app-side-menu ></app-side-menu>
      <!-- Sidebar Ends -->

      <!-- Email List Starts -->
      <div [ngClass]="isSideNavCollapsed ? 'emailList': 'emailListcollapsed' ">
        <!-- Settings Starts -->
        <!-- <div class="emailList__settings">
          <div class="emailList__settingsLeft">
            <input type="checkbox" />
            <span class="material-icons"> arrow_drop_down </span>
            <span class="material-icons"> redo </span>
            <span class="material-icons"> more_vert </span>
          </div>
          <div class="emailList__settingsRight">
            <span class="material-icons"> chevron_left </span>
            <span class="material-icons"> chevron_right </span>
            <span class="material-icons"> keyboard_hide </span>
            <span class="material-icons"> settings </span>
          </div>
        </div> -->
        <!-- Settings Ends -->

        <!-- Section Starts -->

        <!-- Section Ends -->

        <!-- Email List rows starts -->
        <div *ngIf="valueChange== 'student'">
          <app-student-personal-details></app-student-personal-details>
          <!-- Email Row Starts -->

          <!-- Email Row Ends -->
        </div>
        <!-- Email List rows Ends -->

        <!-- Email List rows starts -->
        <div *ngIf="valueChange== 'teacher'">
          <app-teacher-details></app-teacher-details>
          <!-- Email Row Starts -->
          <!-- Email Row Ends -->
        </div>


        <div *ngIf="valueChange== 'org'">
          <app-organization></app-organization>
          <!-- Email Row Starts -->
          <!-- Email Row Ends -->
        </div>
        <!-- Email List rows Ends -->
      </div>
      <!-- Email List Ends -->
    </div>
    <!-- Main Body Ends -->
   <app-footer></app-footer>
  </body>

