/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import '~@angular/cdk/overlay-prebuilt.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* @import "//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css";
@import url('https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css'); */

/* .mat-tab-group.mat-primary .mat-ink-bar, .mat-primary .mat-ink-bar {
    background: rgb(206, 59, 59);
    height: 2px;
  }  */
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* body{
  overflow: hidden;
} */
/* body::-webkit-scrollbar {
  display: none;
  overflow: hidden;
} */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #585858;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #585858;
}
