<mat-toolbar style="background-color: white;">
    <span>Add</span>
    <i style="padding-left: 80%; font-size: 230%;" mat-dialog-close class="bi bi-x"></i>
  </mat-toolbar>

<div mat-dialog-content>
    <form class="example-form">
      <div class="container-fluid text-center">
        <div class="row">
          <div class="col">
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Fill form field</mat-label>
                <input matInput placeholder="Placeholder">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </p>
          </div>
          <div class="col">
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Outline form field</mat-label>
                <input matInput placeholder="Placeholder">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="example-container">
              <mat-form-field appearance="fill">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="pat@example.com" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <mat-form-field appearance="fill">
              <mat-label>Enter your password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <div class="example-container"> 
          <div class="row" >
            <div class="col">
              <mat-form-field appearance="fill" floatLabel="always">
                <mat-label>Amount</mat-label>
                <input matInput type="number" class="example-right-align" placeholder="0">
                <span matTextPrefix>$&nbsp;</span>
                <span matTextSuffix>.00</span>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </form>
</div>
