        <!-- Section Starts -->
        <div class="emailList__sections">
          <div (click)="firstTab(1)" [ngClass]="{ section__selected: tabOne == 'show' }" class="section" >
            <span class="material-icons"> inbox </span>
            <h4>Students</h4>
          </div>

          <div (click)="firstTab(2)" [ngClass]="{ section__selected2: tabTwo == 'show2' }" class="section">
            <span class="material-icons"> local_offer </span>
            <h4>Promotions</h4><!--comment-->
          </div>

          <div  (click)="firstTab(3)" [ngClass]="{ section__selected3: tabThree == 'show3' }" class="section" *ngIf="tabThree == 'show3' ">
            <span class="material-icons"> people </span>
            <h4>Student Profile</h4>
          </div>
        </div>
        <!-- Section Ends -->

        <!-- Email List rows starts -->
        <div>
          <!-- Email Row Starts -->
          <div *ngIf="tabOne == 'show'" class="tab-content tableHead" id="nav-tabContent">
            <div class="tab-pane show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <!-------------------tba------------------------->
              <div class="container-fluid">
                <div class="row">
                  <div class="col">
                    <div   style="padding-left:0; margin-top: 2%; justify-content:center;">
                      <mat-button-toggle-group class="toogleButton" name="fontStyle" aria-label="Font Style">
                        <mat-button-toggle [print]="['demo', config]"> <i class="bi bi-printer"></i>Print</mat-button-toggle>
                        <mat-button-toggle (click)="ExportTOExcel()"><i class="bi bi-file-earmark-spreadsheet"></i>Export as Excel</mat-button-toggle>
                        <mat-button-toggle  (click)="downloadAsPDF()"><i class="bi bi-file-earmark-pdf"></i>Export To PDF</mat-button-toggle>
                      </mat-button-toggle-group>
                      &nbsp;&nbsp;
                      <!-- <button (click)="openDialog()" mat-raised-button style="background-color: rgba(48, 98, 191, 0.568);">
                        <i class="bi bi-plus-circle-fill"></i> &nbsp;&nbsp;Create</button> -->
                        <button type="button" class="btn btn-warning"  (click)="openDialog2()">Add Student Personal Details</button> &nbsp;
                        <mat-slide-toggle color="warn" (click)="show()">{{showMore? 'Show Less':'Show More'}}</mat-slide-toggle>
                      <input class="textbox" [(ngModel)]="searchValue" (keyup)="applyFilter()" placeholder="Filter">
                    </div>
                  </div>
                </div>
                <div #TABLE id="pdfTable" #pdfTable>
                  <table id="demo"  class="paleBlueRows">

                    <thead>
                    <tr>
                    <th>Student ID</th>
                    <th>CID</th>
                    <th>first Name</th>
                    <th>Middle Name</th>
                    <th>Last Name</th>
                    <th>DOB</th>
                    <ng-container *ngIf="showMore">
                      <th>Village</th>
                      <th>Gewog</th>
                      <th>Dzongkhag</th>
                      <th>Father Name</th>
                      <th>Father Occupation</th>
                      <th>Mother Name</th>
                      <th>Mother Occupation</th>
                      <th>Pervious Qualification</th>
                    </ng-container>
                    <th colspan="3">Actions</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <!-- <tr>
                    <td>foot1</td>
                    <td>foot2</td>
                    <td>foot3</td>
                    <td>foot4</td>
                    </tr>
                    </tfoot> -->
                    <tbody>
                    <tr *ngFor="let element of ELEMENT_DATA">
                    <td>{{element.student_identity_no}}</td>
                    <td>{{element.cid}}</td>
                    <td>{{element.first_name}}</td>
                    <td>{{element.middle_name}}</td>
                    <td>{{element.last_name}}</td>
                    <td>{{element.dob}}</td>
                    <ng-container *ngIf="showMore">
                      <td>{{element.village}}</td>
                      <td>{{element.gewog}}</td>
                      <td>{{element.dzongkhag}}</td>
                      <td>{{element.father_name}}</td>
                      <td>{{element.father_occupation}}</td>
                      <td>{{element.mother_name}}</td>
                      <td>{{element.mother_occupation}}</td>
                      <td>{{element.pervious_qualification}}</td>
                    </ng-container>
                    <td>
                      <span style="cursor: pointer;"(click)="updateContact(element)" class="badge rounded-pill bg-success">Edit</span>
                    </td>
                    <td><span style="cursor: pointer;" class="badge rounded-pill bg-danger" (click)="onDelete(element.id)">Delete</span></td>
                    <td><img height="20px" (click)="viewProfile(element.student_identity_no)" src="https://cdn-icons-png.flaticon.com/512/2874/2874780.png"></td>
                    </tr>
                    </tbody>
                    </table>
                    <!-- <mat-paginator #paginator
                    [pageSize]="1"
                    [pageSizeOptions]="[5, 10, 20]">
                    </mat-paginator> -->
                </div>
              </div>
            </div>

          </div>
          <div *ngIf="tabTwo == 'show2' ">
            <app-student-academic-details></app-student-academic-details>
          </div>
          <div  *ngIf="tabThree == 'show3' ">
            <app-user-student></app-user-student>
          </div>
          <!-- Email Row Ends -->
        </div>
        <!-- Email List rows Ends -->
